@import url(global.css);
@import url(reset.css);

body{background-color: black;
}
body::before{
  content: "";
  background-image: url(background/fundo_homen_aranha.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.2;
  object-fit: contain;

}

.s-menu{
  padding: 1rem 0;
  width: 100%;
  text-align: center;
  position: relative;
}

.s-menu_item{
  display: inline-block;
  text-transform: uppercase;
  margin: 0 1.25rem;
}
.s-menu_icon{
  width: 2.5rem;
  margin: 0 1.25rem;
}
.container{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.s-card{
  border: 0.5rem solid white;
  width: calc(100%/3 - 8%);
  height: 70vh;
  position: relative;
}
.s_card_background{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  opacity: 1;
  transition: 1s;
}
.s-card_image{
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: relative;
  transition: 1s;
}
.s-card_title{
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.s-controller{
  position: relative ;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.s-controller_button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border: 2px solid white;
  border-radius: 50%;
  background-color: red;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  z-index: 1;
  transition-duration: 0.5s;
}
.s-controller_button:hover{
  transform: scale(1.3);

}
.s-controller_button:nth-child(2){
  margin: 0 3.75rem;
  
}

.s-controller_line{
  background-color: white;
  width: 50%;
  height: 2px;
  position: absolute;
}

/*Houver Animação*/

.s-card--hovered .s_card_background{
  cursor: pointer;
  opacity: 0.6;
}

.s-card--hovered .s-card_image{
  transform: scale(1.5);
  
}